/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 2, 2015, 12:23:21 AM
    Author     : Castanedo
*/


/*General*/
body *{
    font-family: 'Roboto' !important;
    font-size: 12px;
}


/*Materialize*/
.z-depth-1, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, ul.side-nav {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-floating:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.z-depth-2 {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.z-depth-3 {
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.z-depth-4, .modal {
  -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); }

.z-depth-5 {
  -webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); }

.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box; }


/*Top Navar*/
#profile_container img{
    padding-top: 12px;
    padding-bottom: 12px;
}

#top_header{
    margin-bottom: 30px;
}

#top_header nav{
    margin: 0;
}

#top_header_resources li:not(:first-child) {
    padding-top: 25px;
}

h1{
    //font-family: 'Roboto';
    color: #204824;
    font-weight: 400;
    border-bottom: solid 1px #204824;
    font-size: 3em;
}

/*Form*/
form > *{
    
}
form .units-row{
    margin: 0;
}

form button{
    height: 40px;
    margin-top: 19px !important;
    width: 100%;
}

form select{
    height: 30px;
}

/*Tables*/
.tr_options a:not(:first-child){
    margin-left: 12px;
}

table tr a {
    text-decoration: none;
}

/*Modal warnings*/
.modal_header_warning{
    background: #DE2C3B;
    color: white;
    padding-top: 10px;
}

.modal_header_action{
    background: #1A52A5;
    color: white;
    padding-top: 10px;
}

.modal_header_action h2{
    background: #1A52A5;
    color: white;
    text-align: center;
    font-size: 20px;
}


.modal_header_warning h2{
    background: #DE2C3B;
    color: white;
    text-align: center;
    font-size: 20px;
}

/*DATE PICKER*/

.picker select{
    display: initial;
    height: 31px;
}

/*LOGIN*/
#login_container{
    margin-top: 30%;
    border: solid 3px #BDBDBD;
    border-radius : 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    padding: 20px;
}

table.dataTable tbody tr.warning{
    background: #fff4cc;
}

/*AGENDA*/
.fc-cell-content{
    text-align: center;
}

.fc-resource-area{
    width: 216px;
    max-width: 215px;
}

.forms-inline-list > label{
        display: inline;
    }
.forms-inline-list > label:not(:first-child){
    padding-left: 10px;
}

.nuevo_paciente_close{
        position: absolute;
        right: 8px;
        top: -8px;
        color: #bbb;
        cursor: pointer;
        font-size: 15px;
        font-weight: 300;
    }
    
    .nuevo_paciente_close:hover{
        color: #000;
    }
    
    .relacionados_close{
        position: absolute;
        right: 8px;
        top: -8px;
        color: #bbb;
        cursor: pointer;
        font-size: 15px;
        font-weight: 300;
    }
    
    .relacionados_close:hover{
        color: #000;
    }
    
    #modal_event_container select{
        height: 29px;
    }
    
    a.btn:focus, a.btn:hover{
        color: white;
    }
    
     .disable {

      background-color: rgb(255, 190, 190);

    }
    
    .fc-widget-header{
        background-color: #FFF;
    }
    
    .agenda_descanso{
        cursor: not-allowed;
        width: 100%;
    }
    
    .visita_porconfirmar{
        background: #fbc02d;
    }
    
    .visita_confirmada{
        background: #fb8c00;
    }
    
    .visita_cancelo{
        background: #CC0000;
    }
    
    .visita_nosepresento{
        background: #6d4c41;
    }
    
    .visita_reprogramda{
        background: #9e9e9e;
    }
    
    .visita_enservicio{
        background: #039be5;
    }
    
    .visita_terminado{
        background: #43a047;
    }
    
    .receso{
        background: #00bcd4;
    }
    .fc-event-time{
        height: 22px;
    }
    
    .table-comisiones th{
        text-align: center;
    }
    .table-comisiones tr.row {
        text-align: center;
        font-weight: bold;
    }
    
    .table.dataTable tfoot th, table.dataTable tfoot td{
        border-top:1px solid #EEE;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .table-comisiones tbody div{
        text-align: center;
    }
    

    .table-ventas tr.cancelada td:nth-child(5){
        color:red;
    }
    
    .table-ventas tr.pagada td:nth-child(5){
        color:green;
    }
    
    
    .table-comisiones tfoot td{
        text-align: center;
    }
    
    .table-comisiones tfoot td{
        text-align: center;
    }
    
    .table-membresias tbody .unit-custom{
        font-size: 10px !important;
    }
    
    .table-membresias th#servicios{
        min-width: 200px !important;
    }
    
    .table-membresias tbody td{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    
    .table-membresias thead th{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    
    .table-membresias thead .unit-custom{
        text-align: center;
    }
    
    
    .table-membresias tbody .units-row .unit-custom:not(:last-child){
        border-right: solid 1px #EEEEEE;
        height: 100%;
    }
    
    .table-membresias thead .units-row .unit-custom:not(:last-child){
        border-right: solid 1px #EEEEEE;
    }
    
    .table-membresias tbody .units-row{

        height: 100%;

    }
    
    .table-membresias th#servicios{
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .table-membresias td#servicios{
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .table-membresias th#cupones{
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .table-membresias td#cupones{
        padding-left: 0px;
        padding-right: 0px;
    }
    
    
    .table-visitas thead th{
         padding-top: 0px !important;
         padding-bottom: 0px !important;
    }
    
    .table-visitas tbody td{
         padding-top: 0px !important;
         padding-bottom: 0px !important;
    }
    
    
    .table-visitas thead .units-row .unit-month:not(:last-child){
        border-right: solid 1px #EEEEEE;
    }
    
    .table-visitas tbody .units-row .unit-month:not(:last-child){
        border-right: solid 1px #EEEEEE;
    }
    
    .table-visitas tbody td[year]{
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .fc-event-title{
        font-size: 12px;
        color:black;
    }
    
    .fc-event-time, .fc-event-inner{
        font-size: 12px;
        color:black;
    }
    
   .label.label-error, .badge.label-error, .label.badge-error, .badge.badge-error {
    background: #d11149 none repeat scroll 0 0;
    color: #ffffff;
}

table.fc-agenda-slots tbody tr {
    //height: 30px;
}

.fc-widget-content{
    //height: 30px;
}

/*.fc-agenda-slots td div {
         height: 30px !important;
         
    }  
    
    .fc-agenda-axis{
        font-size: 12px !important;
        height: 10px !important;
        line-height: 10px !important;
    }*/



h1{
    text-align: center;
    font-size: 40px;
}

.fc-header-title h2{
  font-size: 22px;  
}

.modal-loading{
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}

body.loading .modal-loading {
    display: block;
}

.th_year{
    padding: 0px !important;
}

